@tailwind base;
@tailwind components;
@tailwind utilities;

/* left */
.left{
  border-right: 1px solid;
  margin-left: 5px;
}
.left p{
  margin-top: 20px;
  font-size: 20px;
 
}

.left-div{
  display: flex;
  align-items: center;
  gap: 20px;
}